.Bg{
background-color: aquamarine;
}

.Judul{
    text-align: center;
}

.FilmPertama{
    background-color: rosybrown;
}

.FilmKedua{
    background-color: royalblue;
}

.FilmKetiga{
    background-color: rosybrown;
}


.FilmKeempat{
    background-color: royalblue;
}

.FilmKelima{
    background-color: rosybrown;
}